<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1" />
		<object name="ID_STATICTEXT1" class="wxStaticText" variable="StaticText1" member="yes" />
		<object name="ID_TEXTCTRL1" class="wxTextCtrl" variable="TextCtrl1" member="yes">
			<handler function="OnTextCtrl1Text1" entry="EVT_TEXT" />
		</object>
		<object name="ID_BUTTON1" class="wxButton" variable="Button1" member="yes">
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object name="ID_CHECKLISTBOX1" class="wxCheckListBox" variable="CheckListBox1" member="yes" />
		<object name="ID_TEXTCTRL2" class="wxTextCtrl" variable="TextCtrl2" member="yes" />
		<object name="ID_TEXTCTRL3" class="wxTextCtrl" variable="TextCtrl3" member="yes" />
		<object name="ID_BUTTON2" class="wxButton" variable="Button2" member="yes">
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
		<object name="ID_BUTTON5" class="wxButton" variable="Button5" member="yes">
			<handler function="OnButton5Click" entry="EVT_BUTTON" />
		</object>
		<object name="ID_BUTTON3" class="wxButton" variable="Button3" member="yes" />
		<object name="ID_BUTTON4" class="wxButton" variable="Button4" member="yes" />
	</resource_extra>
</wxsmith>
